# Binaries
build/
bin/
obj/
dist/

# Go-specific
vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
